<article>
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-lg-12 pb-4">
            <h2 class="pb-2 border-bottom">Tramites que puedes solicitar</h2>
            <h3 class="fs-4 py-3">Certificado de residencia</h3>
            <p><strong>¿Dónde se obtiene el certificado de residencia?</strong> </p>
            <ul>
               <li>La junta de vecinos correspondiente a su domicilio. En la junta de vecinos de Requegua puedes solicitar una
                  fecha y hora para pedir el documento.
               </li>
               <li>Una notaría, donde deberá hacer una declaración jurada de domicilio.</li>
               <li>La unidad comunal de juntas de vecinos (si corresponde).</li>
            </ul>
            <p><strong>Documentos necesarios:</strong> 
            <ul>
               <li>Cédula de Identidad del solicitante.</li>
               <li>Algún documento que certifique el domicilio (por ejemplo, una cuenta a su nombre).</li>
            </ul>
            </p>
            <p><strong>Costo del trámite y validez:</strong> 
            <ul>
               <li>$ 1.000 pesos chilenos. Se paga una vez entregado el documento y en efectivo.</li>
               <li>El certificado de residencia tiene una validez de 90 días.</li>
            </ul>
            </p>
         </div>
         <div class="col">
            <div class="col-md-12 mx-auto col-lg-12 pt-4">
               <form id="form_registro" class="p-4 p-md-5 border rounded-3 bg-light">
                  <h3 class="text-center py-3">Reservar hora</h3>
                  <div class="form-floating mb-3">
                     <input type="text" class="form-control" id="txtnombre" placeholder="Nombre">
                     <label for="txtnombre">Nombre y apellido</label>
                  </div>
                  <div class="form-floating mb-3">
                     <input type="text" class="form-control" id="txtapellido" placeholder="Apellido">
                     <label for="txtapellido">Rut</label>
                  </div>
                  <div class="form-floating mb-3">
                     <input type="text" class="form-control" id="txtapellido" placeholder="Apellido">
                     <label for="txtapellido">Telefono</label>
                  </div>
                  <div class="form-floating mb-3">
                     <input type="email" class="form-control" id="txtmail" placeholder="E-mail">
                     <label for="txtmail">Apartir del día</label>
                  </div>
                  <div class="form-floating mb-3">
                     <input type="email" class="form-control" id="txtmail" placeholder="E-mail">
                     <label for="txtmail">Horario</label>
                  </div>
                  <button id="btn_registro" type="button" class="w-100 btn btn-lg btn-primary" onclick="validar(this)">Buscar</button>
                  <hr class="my-4">
               </form>
            </div>
         </div>
      </div>
   </div>
</article>