<article>
   <div class="container text-center pb-4">
      <div class="row">
         <div class="col-12">
            <h2 class="py-4">¿Que tramites puedo hacer?</h2>
            <h4>Certificado de residencia</h4>
            <p>Certificado de Antecedentes emitido en forma digital en el Sistema del Servicio de Registro Civil y legalizado 
            en el Consulado de Chile en el exterior.</p>
            <p><strong>Dirección:</strong> siempre feliz #455, Requegua VI Región</p>
            <p><strong>Correo electronico:</strong>  info@jvrequegua.cl</p>
            <p><strong>Horario de atención:</strong>  Lunes a Viernes. Se atiende solamente 
               con hora previa gestionado mediante correo electrónico. 
            </p>
         </div>
      </div>
   </div>
</article>